<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Devices</title>
</head>
<body>
<h1>Add New Device</h1>
<form method="post">
    <fieldset>
        <legend>Location</legend>
        <label for="location_school">Location</label>
        <select id="location_school" name="location_school">
            <option value="uno">University of Nebraska-Omaha</option>
            <option value="unl">University of Nebraska-Lincoln</option>
            <option value="tamu">the Agricultural and Mechanical College of Texas</option>
        </select>
    </fieldset>
    <fieldset>
        <legend>Sensors In Device</legend>
        <div>

            <input type="checkbox" id="electrocardiogram" name="electrocardiogram" value="YES">
            <label for="electrocardiogram">Electrocardiogram</label>
        </div>
        <div>

            <input type="checkbox" id="inertial_measurement_unit" name="inertial_measurement_unit">
            <label for="inertial_measurement_unit">Inertial Measurement Unit</label>
        </div>
        <div>

            <input type="checkbox" id="optical_pulse_oximeter" name="optical_pulse_oximeter">
            <label for="optical_pulse_oximeter">Optical Pulse Oximeter</label>
        </div>
        <div>

            <input type="checkbox" id="microphone" name="microphone">
            <label for="microphone">Microphone</label>
        </div>

        <div>

            <input type="checkbox" id="temperature_sensor" name="temperature_sensor">
            <label for="temperature_sensor">Temperature Sensor</label>
        </div>
        <div>

            <input type="checkbox" id="electronic_nose" name="electronic_nose">
            <label for="electronic_nose">Electronic Nose</label>
        </div>
        <div>

            <input type="checkbox" id="galvanic_skin_response" name="galvanic_skin_response">
            <label for="galvanic_skin_response">Galvanic Skin Response</label>
        </div>
    </fieldset>
    <fieldset>
        <legend>Hardware Profile</legend>
        <div>
            <label for="micro_controller_number">Micro Controller Model Number:</label>
            <input type="number" id="micro_controller_number" name="micro_controller_number">
        </div>
        <br>
        <div>
            <label for="real_time_clock_model_number">Real Time Clock Model Number:</label>
            <input type="number" id="real_time_clock_model_number" name="real_time_clock_model_number">
        </div>
        <br>
        <div>
            <label for="info_about_data_storage">Info:</label>
            <input type="text" id="info_about_data_storage" name="info_about_data_storage">
        </div>
    </fieldset>
    <fieldset>
        <legend>Firmware Profile</legend>
        <div>
            <label for="firmware_version">Firmware Version:</label>
            <input type="text" id="firmware_version" name="firmware_version" placeholder="">
        </div>
        <br>
        <div>
            <label for="date_installed">Date Installed:</label>
            <input type="date" id="date_installed" name="date_installed" placeholder="">
        </div>
    </fieldset>
    <fieldset>
        <legend>Device</legend>
        <div>
            <label for="model_number">Model Number test</label>
            <input type="number" id="model_number" name="model_number">
        </div>
        <br>
        <div>
            <label for="device_status">Device Status:</label>
            <select id="device_status" name="device_status">
                <option value="Inactive">Inactive</option>
                <option value="Active">Active</option>
                <option value="Broken">Broken :(</option>
            </select>
        </div>
        <br>
        <div>
            <label for="date_deployed">Date Deployed</label>
            <input type="date" id="date_deployed" name="date_deployed">
        </div>
    </fieldset>
    <br>
    <input type="submit" value="ADD DEVICE">
</form>
</body>
</html>
