<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Devices</title>
</head>
<body>
<h1>Device Study Gui</h1>
<form action="/showDevices" method="get">
    <button type="submit">All Devices</button>
</form>
<p></p>
<form action = '/addDevice' method="get">
    <button type="submit">Add New Device</button>
</form>
</body>
</html>
