<h1>Log In</h1>

<form>
    <div>
        <label for="email">Email</label>
        <input type="email" id='email'>
    </div>
    <div>
        <label for="password">password</label>
        <input id='password' name="password" type="password">
    </div>
    <button type="submit">Log In</button>
</form>